* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  max-width: 1230px;
  width: 100%;
  margin: auto;
  box-shadow: 0 2px 6px #555;
  padding: 0 15px;
}
/* -------------------Header----------------- */
header{
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
a{
  text-decoration: none;
  text-transform: uppercase;
  color: #555;
  letter-spacing: 2px;
}
a:hover{
  color: lightseagreen;
}
ul li{
  list-style: none;
  display: inline-block;
  padding: 0 15px;
}
.menu{
  display: none;
}
.cart-icon{
  position: relative;
  margin-right: 15px;
}
.cart-icon span{
  background: crimson;
  border-radius: 20px;
  color: white;
  position: absolute;
  top:-10px;
  right: -10px;
  font-size: 10px;
  padding: 5px;
}


/* ---------------Products--------------- */
.products{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 15px 0;
}
.products .card{
  max-width: 370px;
  width: 100%;
  overflow: hidden;
  height: 570px;
  box-shadow: 0 0 5px #ccc;
  padding: 15px;
  margin: 15px;
  cursor: pointer;
}
.card img{
  width: 100%;
  height: 100%;
  max-height: 340px;
  display: block;
  object-fit: cover;
}
.card .box{
  margin: 15px 0;
}
.card .box h3{
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card .box p{
  margin: 10px 0;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  height: 70px;
}
.card .box h4{
  color: crimson;
}
.card .box button{
  width: 100%;
  border: none;
  outline: none;
  background: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin: 10px 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* -----------------------Details--------------- */
.details{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px;
}
.details .img-container{
  max-width: 400px;
  width: 100%;
  margin: 20px;
  height: 450px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.details .img-container:hover{
  background-size: 150%;
  border: 1px solid #ddd;
  cursor: zoom-in;
}

.box-details{
  max-width: 500px;
  width: 100%;
  margin: 20px;
}
.box-details h2{
  text-transform: uppercase;
  color: darkblue;
  letter-spacing: 2px;
  font-size: 2rem;
}
.box-details button,
.box-details .cart{
  border: 1px solid #555;
  outline: none;
  background: #333;
  cursor: pointer;
  color: white;
  margin-right: 5px;
  margin-top: 10px;
}
.colors button,
.sizes button{
  width: 35px;
  height: 35px;
}
.box-details p{
  line-height: 1.5;
  margin: 10px 0;
  opacity: 0.8;
}
.box-details h3{
  color: crimson;
}
.box-details .thumb{
  display: flex;
  cursor: pointer;
}
.box-details .thumb img{
  width: 50px;
  height: 45px;
  display: block;
  object-fit: cover;
  margin: 20px;
  overflow: hidden;
}
.box-details .cart{
  padding: 10px 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
}
@media (max-width: 700px){
  header{
    justify-content: space-between;
  }
  ul{
    position: fixed;
    top:0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0.98;
    z-index: 99;
    transition: 0.5s ease-in;
  }
  .menu{
    display: block;
    cursor: pointer;
  }
  ul li .menu{
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

@media (max-width: 500px){
  .details{
    padding: 0;
  }
  .box-details .thumb img{
    width: 40px;
    height: 35px;
  }
  .details .img-container{
    height: 350px;
  }
}

/* ****** Cart ********************** */
.cart{
  position: relative;
  border: 1px solid #ccc;
  transform: scaleY(0.98)
}
.amount span{
  color: crimson;
  padding: 0 20px;
}
.amount .count{
  width: 40px;
  height: 30px;
  border: 1px solid #555;
  outline: none;
  background: #555;
  cursor: pointer;
}
.delete{
  position: absolute;
  top:0;
  right: 5px;
  color: crimson;
  cursor: pointer;
  font-weight: 900;
}
.total{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total a{
  background: #333;
  color: white;
  padding: 10px 25px
}
.total h3{
  margin-right: 50px;
  color: crimson;
}